html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  .calculator {
    border: 2px solid rgb(50, 222, 228);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
  }
  
  .calculator-screen {
    width: 100%;
    font-size: 4.5rem;
    height: 100px;
    border: none;
    background-color: #efe8e8;
    color: rgb(12, 11, 11);
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    overflow: scroll;
  }
  
  button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #b4adad;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(
      to bottom,
      transparent,
      transparent 50%,
      rgba(0, 0, 0, 0.04)
    );
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
      inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
      inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
      0 1px 0 0 rgba(255, 255, 255, 0.15);
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  }
  
  button:hover {
    background-color: #eaeaea;
  }
  
  .operator {
    color: #337cac;
  }
  
  .all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }
  
  .equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
  }
  
  .equal-sign:hover {
    background-color: #4e9ed4;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  