<div class="toggle">
  <h1>Calculator</h1>
  <nav>
    <div class="normal-a">
      <a routerLink="/normal" routerLinkActive="active">Normal</a>
    </div>
    <div class="scientific-a">
      <a routerLink="/scientific" routerLinkActive="active">Scientific</a>
    </div>
  </nav>
</div>
<div class="calculator-routed">
  <router-outlet></router-outlet>
</div>

<!-- <button (click)="toggle1()">Normal Calculator</button>
<a routerlink></a>
<app-calculator *ngIf="showMe1"></app-calculator>
<button (click)="toggle2()">Scientific Calculator</button>
<app-scientific *ngIf="showMe2"></app-scientific> -->
